* {
  margin: 0;
  padding: 0;
}

.hMainDiv {
  display: flex;
}

.leftDiv {
  width: 25vw;
  /* height: 99.2vh; */
  max-height: 99.2vh; /* Set the maximum height you desire */
  overflow-y: auto; /* Add a vertical scrollbar when content overflows */
}
.rightDiv {
  width: 75vw;
  max-height: 99.2vh; /* Set the maximum height you desire */
}

@media (max-width: 768px) {
  .hMainDiv {
    flex-direction: column; /* Stack the left and right divs vertically on mobile */
  }

  .leftDiv {
    width: 100%; /* Set the left div to 100% width on mobile */
  }

  .rightDiv {
    width: 100%; /* Set the right div to 100% width on mobile */
  }
}
