* {
  margin: 0;
  padding: 0;
}
.NavBar {
  width: 75vw;
  display: block;
  float: right;
}
.hMainDiv {
  display: flex;
}

.leftDiv {
  width: 25vw;
  /* height: 99.2vh; */
  max-height: 99.2vh;
  overflow-y: auto;
}
.rightDiv {
  width: 75vw;
  max-height: 99.2vh;
}

@media (max-width: 768px) {
  .hMainDiv {
    flex-direction: column;
  }

  .leftDiv {
    width: 100%;
  }

  .rightDiv {
    width: 100%;
  }
}
