* {
  margin: 0;
  padding: 0;
}

.hMainDiv {
  display: flex;
}

.leftDiv {
  width: 25vw;
  /* height: 99.2vh; */
  max-height: 99.2vh; /* Set the maximum height you desire */
  overflow-y: auto; /* Add a vertical scrollbar when content overflows */
}
.rightDiv {
  width: 75vw;
  max-height: 99.2vh; /* Set the maximum height you desire */
}
