.nMainDiv {
  display: flex;
  background-color: #e8e8e8;
  gap: 20px;
}

.pDivCircle1 {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: "center";
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
  justify-content: center;
  margin-top: 13px;
  margin-left: 50px;
  padding-top: 17px;
  margin-bottom: 12px;
}
