.pDivCircle {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: "center";
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
  justify-content: center;
  margin-top: 30px;
  margin-left: 50px;
  padding-top: 17px;
}

.pDivH1 {
  margin-top: 25px;
}

.pDivMain {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  padding-bottom: 25px;
  height: 80px;
  border-radius: 38px 0px 0px 38px;
  margin-left: 8px;
}

/* .pInputText {
  position: absolute;
  width: 1014px;
  height: 211px;
  top: 500px;
  left: 300px;
  border-radius: 9px;
  border: 1px;
  /* z-index: 2; */

/* .pDivGroup {
  background-color: #f7ecdc;
  display: flex;
  align-items: center;
  gap: 20px;

  margin-top: 20px;

  padding-bottom: 25px;
  height: 80px;
  border-radius: 38px 0px 0px 38px;
  margin-left: 8px;
} */
