* {
  margin: 0;
  padding: 0;
}
.rcMainDiv {
  background-color: #f7ecdc;
  width: 75vw;
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rcH1 > h1 {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0.02em;
  text-align: left;
}
.rcHomeImage > img {
  width: 550px;
  height: 200px;
}

.rcPara1 {
  margin-top: 10px;
  width: 600px;
  height: 64px;
}
.rcPara1 > p {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #292929;
}

.rcFooter {
  display: flex;
  position: absolute;
  bottom: 15px;
  justify-content: center;
  align-items: center;
}

.rcFooter > p {
  margin-left: 15px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #292929;
}
.rcFooter > img {
  width: 17.000003814697266px;
  height: 21.000001907348633px;
}

@media (max-width: 768px) {
  /* .rcH1 > h1 {
    font-size: 24px; 
    line-height: 32px;
  }

  .rcPara1 > p {
    font-size: 16px; 
    line-height: 24px;
  }

  .rcFooter > p {
    font-size: 16px; 
    line-height: 24px;
  } */

  .rcMainDiv {
    display: none;
  }
}
